.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paperMain {
  width: 100%;
  max-width: 390px;
  padding: 45px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  border: 1px solid #dbdbdb;
  margin-top: 86px;
}

.paperFooter {
  width: 100%;
  max-width: 390px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #dbdbdb;
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.logoImage {
  height: auto;
}

.captionText {
  color: #737373;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
}
.linkCustom {
  font-family: Roboto !important;
  font-weight: 600 !important;
  font-style: SemiBold !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: 0% !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: #262626 !important;
}
