.container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 80px);
  max-width: 350px;
}

.paperMain {
  text-align: center;

  border: 1px solid #ccc;

  padding: 26px 40px 26px 40px;
}

.paperFooter {
  margin-top: 16px;
  padding: 26px 40px 26px 40px;
  text-align: center;
  border: 1px solid #ccc;
}

.logo {
  font-family: monospace;
  font-weight: bold;
}

.captionText {
  margin-top: 16px;
  font-size: 0.75rem;
  color: #666;
}
.imageContainer {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.logoImage {
  width: 100%;
  height: auto;
}
